{% extends 'posts/base.html' %}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %}Ask Lnmiit{% endblock %}
{% block static_files %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">

            <div style="padding-top:50px;"> </div>
          <!--  <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <div align="center">
                                <img class="thumbnail img-responsive" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="300px" height="300px">
                            </div>
                            <div class="media-body">
                                <hr>
                                <h3><strong>Bio</strong></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida metus, non ultrices sapien. Morbi odio metus, dapibus non nibh id amet.</p>
                                <hr>
                                <h3><strong>Location</strong></h3>
                                <p>Earth</p>
                                <hr>
                                <h3><strong>Gender</strong></h3>
                                <p>Unknown</p>
                                <hr>
                                <h3><strong>Birthday</strong></h3>
                                <p>January 01 1901</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="col-md-offset-1 col-lg-offset-1 col-lg-10 col-md-10 col-sm-12 col-xs-12">
              <div class="panel panel-default">
                  <div class="panel-body">
                    <!--  <span>
                          <h1 class="panel-title pull-left" style="font-size:30px;">John Doe <small>example@pods.tld</small> <i class="fa fa-check text-success" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="John Doe is sharing with you"></i></h1>
                          <div class="dropdown pull-right">
                              <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                  Friends
                                  <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                  <li><a href="#">Familly</a></li>
                                  <li><a href="#"><i class="fa fa-fw fa-check" aria-hidden="true"></i> Friends</a></li>
                                  <li><a href="#">Work</a></li>
                                  <li role="separator" class="divider"></li>
                                  <li><a href="#"><i class="fa fa-fw fa-plus" aria-hidden="true"></i> Add a new aspect</a></li>
                              </ul>
                          </div>
                      </span>
                      <br><br>
                      <i class="fa fa-tags" aria-hidden="true"></i> <a href="/tags/diaspora" class="tag">#diaspora</a> <a href="/tags/hashtag" class="tag">#hashtag</a> <a href="/tags/caturday" class="tag">#caturday</a>
                      <br><br>-->
                      <div class="media">
                          <div class="pull-left">
                              <a href="#">
                                  <img class="media-object img-circle" src="{{ user.profile.image.url }}" width="35px" height="35px" style="margin-left:3px; margin-right:-5px;">
                              </a>
                          </div>
                          <div class="media-body">
                              <!--<textarea class="form-control" rows="1" placeholder="Question"></textarea>
                          </div><br>
                          <div class="media-body " >
                            <textarea class="form-control " style="margin-left = 50px;"  placeholder="Details"></textarea>
                          -->
                          <form method="POST" class="post-form">{% csrf_token %}
                              {% bootstrap_form form %}







                          </div>
                      </div>
                      <hr>
                      <div class="pull-right post-button-submit">
                        {% buttons %}

                          <button type="submit" class="btn btn-primary">
                            {% bootstrap_icon "star" %} Submit
                          </button>
                        {% endbuttons %}
</form>
                      </div>
                      <!--
                      <span class="pull-left">
                          <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-files-o" aria-hidden="true"></i> Posts</a>
                          <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-picture-o" aria-hidden="true"></i> Photos <span class="badge">42</span></a>
                          <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-users" aria-hidden="true"></i> Contacts <span class="badge">42</span></a>
                      </span>
                      <span class="pull-right">

                          <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-at" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Mention"></i></a>
                          <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-envelope-o" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Message"></i></a>
                          <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-ban" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Ignore"></i></a>
                      </span>-->
                  </div>
              </div>
                <hr>
                <!-- Simple post content example. -->
                
                <!-- Reshare Example -->

            </div>
            {% endblock %}
