{% extends 'posts/base.html' %}{% block title %}Profile{% endblock %}{% block profile_active %}active{% endblock %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1>{{ user.username.title }}'s Profile</h1>
      <br><br><br><br><br><br><br>
      <div class="panel panel-default">

        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Heading</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>First Name</td>
                <td>{{ user.first_name }}</td>
              </tr>
              <tr>
                <td>Last Name</td>
                <td>{{user.last_name}}</td>
              </tr>
              <tr>
                <td>Username</td>
                <td>{{user.username}}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{user.email}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">

        </div>
      </div>
    </div>
  </div>
{% endblock %}
